- if resource.present? and resource.errors.any?
  - resource.errors.full_messages.each do |msg|
    .alert-box.radius{:'data-alert' => true, class: flash_for(:error)}
      = msg
      %a.close{href: '#'} ×
